@{
    ViewData["Title"] = "Login";
}

<section class="container_titulo">
    <div class="box_titulo">
        <h1>Login</h1>
    </div>
</section>

<section class="container_cadastrar">
    <form method="POST" action='@Url.Action("Logar")' class="cadastro">
        <div class="box_info_login">
            <div class="box_cadastro">
                <span>Email</span>
                <input type="text" name="Email" class="equipe" required>
                <span>Senha</span>
                <input type="password" name="Senha" class="equipe" required>

                <div class="erro">@TempData.Peek("Mensagem")</div>
                <div class="botao_cadastro">
                    <a href=""><button>Cadastrar</button></a>
                </div>
            </div>

        </div>
    </form>
</section>